<ion-content padding>
  <div *ngIf="page===0">
    <img src="../assets/imgs/home_img.png">
    <h3>Cape - Your parking superhero</h3>

    <p>
      Seemless integrate with your calendar and navigate to parking closest to your venue
    </p>
    <p>
      Registers in 3 easy steps
    </p>
    <p>
      <!-- <button ion-button color="primary" menuToggle>Toggle Menu</button> -->
      <button ion-button full color="primary" (click)="goToPage1()">Get started</button>
    </p>
  </div>

  <div *ngIf="page===1">
    Please enter your car reg to get the best spaces for your car

    <ion-input placeholder="Enter Input"></ion-input>
    <button ion-button full color="primary" (click)="goToPage2()">Continue</button>

  </div>



  <div *ngIf="page===2">
    <img src="../assets/imgs/ford_jeep.jpg">
    <button ion-button full color="primary" (click)="goToPage3()">Continue</button>
  </div>


  <div *ngIf="page===3">

    <h2>Your upcoming events</h2>
    <ion-list>
      <button ion-item *ngFor="let item of calanderItems" (click)="itemTapped($event, item)">
        <h2>{{item.title}}</h2>
        <h3>{{item.eventLocation}}</h3>
        <p>{{item.start}}</p>
      </button>
    </ion-list>
    <!-- <button ion-button full color="primary" (click)="test()">Load calander</button> -->
  </div>
</ion-content>
